<div class="home-contnet" [ngClass]="{'dark-theme': isDarkMode}">
<mat-toolbar class="main-navbar position-relative ">

  <button mat-mini-fab (click)="toggleMenu()" color="primary" style="margin: 10px;">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
<div style="margin-left: auto;">
  <button mat-mini-fab (click)="logout()" color="warn" >
    <mat-icon aria-label="Menu">logout</mat-icon>
  </button>
  <mat-slide-toggle class="mx-4" [(ngModel)]="isDarkMode">  <mat-icon>bedtime</mat-icon></mat-slide-toggle>

  <h1 class="">This is a heading</h1>

</div>
</mat-toolbar>

<mat-drawer-container  class="main-container " [ngClass]="{'home-backdrop': !isExpanded}">
  <mat-drawer [@slideInOut]="helpMenu" #drawer mode="over" disableClose="true" opened="true" class="main-sidenav">

    <mat-nav-list>
      <mat-list-item class="p-2" routerLink="/">
        <div class="d-flex align-items-center justify-content-start menu-list-item  ">
          <mat-icon mat-list-icon>dashboard</mat-icon>
          <p class="m-0 p-2" mat-line *ngIf="isExpanded" [@enterAnimation]>Management C</p>
        </div>
      </mat-list-item>
      <mat-list-item class="p-2" routerLink="/patients">
        <div class="d-flex align-items-center justify-content-start menu-list-item  ">
          <mat-icon mat-list-icon>people</mat-icon>
          <p class="m-0 p-2" mat-line *ngIf="isExpanded" [@enterAnimation]>Patients</p>
        </div>
      </mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <div class="main-sidenav-content">
    <router-outlet class=""></router-outlet>
  </div>

</mat-drawer-container>
</div>
