<div class="flex-wrap container py-5  patients-page">
<div class="row justify-content-between h-100">
  <div class="patients-list col-3 p-0">
    <div class="table-actions w-100 d-flex flex-md-nowrap flex-sm-wrap">
      <button class="w-100 text-primary" mat-raised-button>Add</button>
      <button class="w-100 text-primary" mat-raised-button>Edit</button>
      <button   class="w-100 text-danger" mat-raised-button>Delete</button>
    </div>
    <mat-form-field class="w-100">
      <input matInput placeholder="Search..">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="code"  >
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let element"  matRipple > {{element.code}} </td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef > Full name </th>
        <td mat-cell *matCellDef="let element" matRipple > {{element.fullName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>
    </table>
  </div>

  <div class="patient-form col-8">
    test
  </div>
</div>



</div>
