.patients-page {
  height: 100%;
  min-height: 100%;
  .patients-list {
    min-height: 100%;
   // background-color: #F9FAFE;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
      0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

    .mat-mdc-row:hover .mat-mdc-cell,.highlight-row {
  //    background-color: var(--gray-light);
      cursor: pointer;
    }
    .table-actions {
      button {
        border-radius: 0;
      }
    }
    table {
      box-shadow: none;
    }
  }
  .patient-form{
    height: 1px;
    min-height: 100%;
   // background-color: #F9FAFE;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

  }
}



mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
