

::ng-deep{ .mdc-text-field--filled,.mat-mdc-form-field-focus-overlay{
  background-color: transparent !important;
}
}
.login-container{
  color: var(--blue);
  font-family: 'Changa', sans-serif;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(141, 141, 141, 0.23);
  .logo-title{
    border: solid 2px;
    padding: 8px;
    box-shadow: rgb(38 132 161 / 45%) 0px 25px 20px -20px;
    border-bottom: solid 8px;
  }
  .login-form-container{
    box-shadow: 0px -25px 20px -20px rgba(141, 141, 141, 0.23), 25px 0 20px -20px rgba(141, 141, 141, 0.23), 0px 25px 20px -20px rgba(141, 141, 141, 0.23), -25px 0 20px -20px rgba(141, 141, 141, 0.23);
  }
}

