@import "material-icons/iconfont/material-icons.css";


:root {
  --cayne: #365cc1;
  --blue: #237fc3;
  --blue-light: #e5f8ff;
  --blue-light-1: #9fd2e5;
  --gray-light: #d2d2d2;
  --red:rgb(224, 50, 50);

  --color-danger:var(--red);

  --default-border-radius: 4px;
}

//mat input override
.mdc-text-field--filled,
.mdc-text-field--outlined,
.mat-mdc-form-field-focus-overlay {
  background-color: white !important;
}
.mdc-notched-outline > *{
  border-color: rgb(218, 218, 218) !important;
}
.mdc-text-field--invalid .mdc-notched-outline > * {
  border-color: var(--color-danger) !important;
}



html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--blue-light-1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.primary-blue-bg {
  background-color: var(--blue-light);
}

.default-border-radius {
  border-radius: var(--default-border-radius);
}

//main (home page)
.main-navbar {
  z-index: 1000;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.main-container {
  width: 100%;
  height: calc(100% - 64px); // navbar height
  background-color: var(--blue-light) !important;
  overflow: auto;
  &.home-backdrop {
    .mat-drawer-backdrop.mat-drawer-shown {
      display: none !important;
      z-index: -1 !important;
    }
  }
  .main-sidenav-content {
    width: calc(100vw - 80px);
    margin-left: auto;
    overflow: auto;
    height: calc(100vh - 64px);
  }

  .main-sidenav {
    min-width: 70px;
    padding: 8px;
  }

  .menu-list-item {
    color: var(--blue) !important;
  }
}
