@use "sass:map";
@use "@angular/material" as mat;
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@include mat.core();
mat.$theme-ignore-duplication-warnings: true;
$dark-primary-text: 000000;
$light-primary-text: #ffffff;


$app-blue-base: (
  50: #e0eef6,
  100: #9fd2e5,
  200: #80bada,
  300: #4d9ecb,
  400: #2689bf,
  500: #0074b4,
  600: #006cad,
  700: #0061a4,
  800: #00579c,
  900: #00448c,
  A100: #b8d5ff,
  A200: #85b7ff,
  A400: #5299ff,
  A700: #398aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$app-navy-blue-base: (
  50: #e8eaed,
  100: #c5cad1,
  200: #9fa6b3,
  300: #798295,
  400: #5c687e,
  500: #3f4d67,
  600: #39465f,
  700: #313d54,
  800: #29344a,
  900: #1b2539,
  A100: #7ca4ff,
  A200: #4981ff,
  A400: #165eff,
  A700: #004dfc,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$app-red-base: (
  50: #fcedea,
  100: #f7d2ca,
  200: #f1b4a7,
  300: #eb9684,
  400: #e78069,
  500: #e3694f,
  600: #e06148,
  700: #dc563f,
  800: #d84c36,
  900: #d03b26,
  A100: #ffffff,
  A200: #ffdeda,
  A400: #ffb0a7,
  A700: #ff998d,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$app-primary-color-palette: mat.define-palette($app-blue-base) !default;
$app-accent-color-palette: mat.define-palette($app-navy-blue-base) !default;
$app-warn-color-palette: mat.define-palette(
  $app-red-base,
  900,
  500,
  700
) !default;
$app-dark-color-palette: mat.define-palette($app-blue-base) !default;

$app-primary: mat.define-palette($app-primary-color-palette);
$app-dark-primary: mat.define-palette($app-dark-color-palette, 500);
$app-accent: mat.define-palette($app-navy-blue-base, 500);


$light-theme: mat.define-light-theme(
  (
    color: (
      primary: $app-primary,
      accent: $app-accent,
    ),
    typography: mat.define-typography-config(),
    density: -2,
  )
);

$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $app-dark-primary,
      accent: $app-accent,
    ),
    typography: mat.define-typography-config(),
    density: -2,
  )
);




@include mat.all-component-themes($light-theme);
.dark-theme {
  @include mat.button-theme($dark-theme);
  @include mat.all-component-colors($dark-theme);
}



//varibles
$primary_blue :map-get(mat.get-color-from-palette($dark-theme, primary), 500);
$primary_blue-light :map-get(mat.get-color-from-palette($dark-theme, primary), 100);
$primary_blue-lighter :map-get(mat.get-color-from-palette($dark-theme, primary), 50);



//bootsrap customize

$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary_blue,
  )
);

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
